.rectangleone{
    animation: transitionIn 2s;
    position: fixed;
    background: #88a478;
    width: 32%;
    height: 200px;
    left: 10%;
    top: 33%;
    display: block;
    border-radius: 10px;
}

.rectangleone h1{
    animation: transitionIn 2s;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 30%;
    color: #3c4a34;
}

.rectangletwo{
    animation: transitionIn 2s;
    position: fixed;
    background: #b5daa2;
    width: 32%;
    left: 10%;
    top: 56%;
    display: block;
    border-radius: 10px;
}

.rectangletwo p{
    animation: transitionIn 2s;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 5;
    margin-top:2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    color: #3c4a34;
}

.feature-img{
    animation: transitionIn 2s;
    height: 70%;
    position: absolute;
    bottom: 15%;
    right: 8%;
}

.button1-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 78.5vh;
    bottom: 8%;
}

.button2-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 78.5vh;
    bottom: 8%;
}

.button1-img:hover{
    animation: transitionIn 2s;
    opacity: 0;
    transition: all 0.7s ease;
}

.container-two{
    background-color: white;
    position: absolute;
    margin-top:100vh;
    height: 100vh;
}

.pageTwo h1{
    font-family: "Open Sans", sans-serif;
    position: absolute;
    font-size: 20px;
    font-weight: 0;
    color: #fff;
    opacity: 0;
}

.squareone{
    animation: transitionIn 2s;
    position: absolute;
    background: #88a478;
    width: 25vh;
    height: 25vh;
    margin-top: 20vh;
    margin-left: 100vh;
    display: block;
    border-radius: 10px;
}

.squareone:hover{
    background: #4c5b43;
}

.javaimg-img{
    animation: transitionIn 2s;
    position: absolute;
    height:50%;
    margin-top: 5vh;
    margin-left: 3vh;
}

.squaretwo{
    animation: transitionIn 2s;
    position: absolute;
    background: #88a478;
    width: 25vh;
    height: 25vh;
    margin-top: 20vh;
    margin-left: 130vh;
    display: block;
    border-radius: 10px;
}

.squaretwo:hover{
    background: #4c5b43;
}

.jsimg-img{
    animation: transitionIn 2s;
    position: absolute;
    height:50%;
    margin-top: 5.5vh;
    margin-left: 5vh;
}

.squarethree{
    animation: transitionIn 2s;
    position: absolute;
    background: #88a478;
    width: 25vh;
    height: 25vh;
    margin-top: 50vh;
    margin-left: 130vh;
    display: block;
    border-radius: 10px;
}

.squarethree:hover{
    background: #4c5b43;
}

.pythonimg-img{
    animation: transitionIn 2s;
    position: absolute;
    height:50%;
    margin-top: 5.5vh;
    margin-left: 5.5vh;
}

.squarefour{
    animation: transitionIn 2s;
    position: absolute;
    background: #88a478;
    width: 25vh;
    height: 25vh;
    margin-top: 50vh;
    margin-left: 100vh;
    display: block;
    border-radius: 10px;
}

.squarefour:hover{
    background: #4c5b43;
}

.cppimg-img{
    animation: transitionIn 2s;
    position: absolute;
    height:50%;
    margin-top: 5vh;
    margin-left: 6.5vh;
}

.button3-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 78.5vh;
    bottom: 8%;
}

.button4-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 78.5vh;
    bottom: 8%;
}

.button3-img:hover{
    animation: transitionIn 2s;
    opacity: 0;
    transition: all 0.7s ease;
}