.rectangleone{
    animation: transitionIn 2s;
    position: fixed;
    background: #88a478;
    width: 32%;
    height: 200px;
    left: 10%;
    top: 33%;
    display: block;
    border-radius: 10px;
}

.rectangleone h1{
    animation: transitionIn 2s;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 30%;
    color: #3c4a34;
}

.rectangletwo{
    animation: transitionIn 2s;
    position: fixed;
    background: #b5daa2;
    width: 32%;
    height: 200;
    left: 10%;
    top: 55%;
    display: block;
    border-radius: 10px;
}

.rectangletwo p{
    animation: transitionIn 2s;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 5;
    margin-top:2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    color: #3c4a34;
}

.feature-img{
    animation: transitionIn 2s;
    height: 70%;
    position: absolute;
    bottom: 15%;
    right: 8%;
}

.button1-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 46%;
    bottom: 8%;
}

.button2-img{
    animation: transitionIn 2s;
    height: 8%;
    position: absolute;
    left: 46%;
    bottom: 8%;
}

.button1-img:hover{
    animation: transitionIn 2s;
    opacity: 0;
    transition: all 0.7s ease;
}

.container-two{
    background-color: white;
    position: absolute;
    margin-top:100vh;
    height: 100vh;
}

.pageTwo h1{
    font-family: "Open Sans", sans-serif;
    position: absolute;
    font-size: 20px;
    font-weight: 0;
    color: #fff;
    opacity: 0;
}

.rectanglethree{
    animation: transitionIn 2s;
    position: absolute;
    background: #88a478;
    width: 70vh;
    height: 200px;
    margin-top: 20vh;
    margin-left: 90vh;
    display: block;
    border-radius: 10px;
}

.rectanglethree h1{
    animation: transitionIn 2s;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-top: 4%;
    margin-left: 8%;
    margin-bottom: 30%;
    color: #3c4a34;
}