@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* applicable to all elements*/
*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 4%;
    /*defines how width & height are calculated*/
    box-sizing: border-box;
    position: relative;
}

.header{
    position: absolute;
    background: #88a478;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    display: block;
}

.navbar{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none; 
    margin: 0px 20px;
}

/*css for anchor tag*/
nav ul li a{
    text-decoration: none;
    color: #333;
}

.content h1{
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 170;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    z-index: 1;
}

.content p{
    font-size: 20px;
    color: #647199;
    z-index: 1;
}

.content{
    margin-left: 10%;
    margin-top: 10%;
}

.feature-img{
    height: 80%;
    position: absolute;
    z-index: 0;
    bottom: 60px;
    right: 100px;
}